body{
    font-family: 'Open Sans', sans-serif;
}

.conteiner{
    max-width: 1090px;
    margin: 0 auto;
}

.header-li{
    display: inline-block;
    margin-right: 47px;
}

.header-li > a{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}

.header-ul{
    text-align: center ;
}

.header{
    padding: 53px 0;
}

.bg-section{
    padding: 138px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/pexels.png')
}

.bg-content{
    text-align: center;
}

.bg-text{
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: white;
    padding: 14px;
}

.button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 122px;
    width: 420px;
    height: 70px;

    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.conteiner-text{
    max-width: 640px;
    margin: 0px auto;
    text-align: center;
}

.text{
    position: relative;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto;  
}

.text::before{
    content: "";
    position: absolute;
    left: -364px;
    top: 100px;
    width: 178px;
    height: 121px;  
    background: #BFDEFB;
}

.first-text{
    position: relative;
    margin-bottom: 216px;
}

.first-text::before{
    content: "";
    position: absolute;
    left: -364px;
    top: 125px;
    width: 178px;
    height: 121px;  
    background: #BFDEFB;
}

.first-text::after{
    content: "";
    position: absolute;
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    right: -380px;
    top:-10px;
}

.second-text{
    position: relative;
    margin-bottom: 213px;
}

.second-text::before{
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    background: #5C98AB;
    border-radius: 50px;
    left: -30px;
    top: -60px;
}

.second-text::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    background: #BFDEFB;
    border-radius: 60px;
    right: -160px;
    top: 160px;
}

.conteiner-form{
    max-width: 640px;
    margin: 123px auto;
}

.input-holder, .input {
    width: 640px;
}

.input-holder{
    margin-bottom: 41px ;
    position: relative;
}

.input{
    padding: 36px 0 10px 34px;
    border-radius: 4px;
    border: 1px solid #000000;
    font-weight: bold;
    font-size: 36px;
    box-sizing: border-box;
}

.input::placeholder{
    color: #000000;
}

.label{
    position: absolute;
    top: 14px;
    left: 31px;
}

.button{
    width: 640px;
    height: 92px;
    background: #5C98AB;
    padding: 21px 0;
}