*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container__header, .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__header{
    margin: 35px auto;
}

.logo__img{
    max-width: 41px;
}

.nav__li{
    display: inline-block;
}

.nav__link{
    color: #B8BECD;
    margin-right: 35px;
    text-decoration: none;
}

.nav__link-active{
    color: black;
}

.button-container_button{
    border: 1px solid #FB8F1D;
    box-sizing: border-box;
    border-radius: 8px;
    height: 44px;
    width: 132px;
    background: #FB8F1D;
    color: white;
}

.button-container_button-transperent{
    background: white ;
    color: #FB8F1D;
}

.text-travel{
font-weight: bold;
font-size: 48px;
line-height: 70px;
}

.input{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.text{
    margin-bottom: 20px ;
}