body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.conteiner{
    max-width: 1140px;
    margin: 0 auto;
}

.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 26px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.conteiner-text{
    background: #F4F5F7;
    display: flex;
    padding: 130px;
    justify-content: space-between;
}

.item-text{
    color: #2B292D; 
    position: absolute;
}

.text-bolt{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}

.item-text-1{
    flex: 1;
    flex-basis: 400px;
}

.item-text-2{
    flex: 1;
    flex-basis: 400px;
}

.galery{
    display: flex;
    background: #F2F2F2;
}

.galery-list{
    display: flex;
    align-items: center;
    padding-left: 100px;
 
    
}

.galery-li{
    display: inline-block;
    margin-left: 60px;
}
