* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.conteiner{
    max-width: 1140px;
    margin: 0 auto;
}

.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 26px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.conteiner-text{
    background: #F4F5F7;
    padding: 130px;
}

.conteiner-itemt{
    justify-content: center;
    display: flex;
}

.item-text-1{
   max-width: 555px;
}

.item-text-2{
    margin-left: 29px;
    max-width: 555px;
}

.text-bolt{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}


.conteiner-visitors{
    background: #00A1C6;
    display: flex;
    justify-content: center;
    padding-top: 108px;
}

.justp1{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
}

.just2{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    margin: 30px 350px;
    
}

.just3{
    text-align: center;
    padding: 34px 360px;
    font-size: 24px;
    line-height: 34px;
}

.just2, .just3{
    max-width: 555px;
}

.button-start{
    margin-left: 500px;
}

.button1{
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    background-color: #3040C4; 
    border: none;
}

.button2{
    border-radius: 2px;
    color: #000000;
    padding: 17px 28px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    border: none;
}


.box{
    background: #ffffff;
    width: 262px;
    height:300px ;
    margin: 30px;
    display: inline-block;
}

.box:hover{
    background:#3141C5;
    transition: 200ms;
}

.boximg{
    padding: 22px 62px;
}

.boxtext{
    text-align: center;
    font-weight: bold;
}

.galery{
    display: flex;
    justify-content: center;
}

.galery-list{
    align-items: center;
}

.galery-li {
    display: inline-block;
    margin-left:60px;  
}

.Covered{
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    padding: 100px;
    }

    .covered-text1{
        font-weight: bold;
        font-size: 56px;
        line-height: 66px;
        
    }
    
    .covered-text2{
        font-size: 24px;
        line-height: 34px;
        width: 554px;
        text-align: center;
        padding: 26px;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        column-gap: 60px;
    }

    
    .cov-img:nth-child( 3){
        grid-row: span 2;
    }

    .cov-img:nth-child( 4){
        grid-row: span 2;
    }