* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.conteiner{
    max-width: 1140px;
    margin: 0 auto;
}

.header-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.header-nav > div{
    margin-left: 75px;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 26px;
    border-radius: 2px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}

.busy{
    padding: 100px 0;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-size: 22px;
    line-height: 34px;  
    font-weight: bold;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    max-width: 462px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
}

.info{
    padding: 40px 0 100px;
}

.info-flex{
    display: flex;
    justify-content: space-between;
}

.info-p{
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    margin-bottom: 10px;
}

.info-p> span{
    font-weight: bold;
}

.info-link{
    font-size: 18px;
    line-height: 26px;
    color: #3040C4;
    text-decoration: underline;
}

.conteiner-text{
    background: #F4F5F7;
    padding: 130px;
}

.conteiner-itemt{
    justify-content: center;
    display: flex;
}

.item-text-1{
   max-width: 555px;
}

.item-text-2{
    max-width: 555px;
}

.text-bolt{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}


.conteiner-visitors{
    background: #00A1C6;
    display: flex;
    justify-content: center;
    padding-top: 108px;
}

.justp1{
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
}

.just2{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    margin: 30px 350px;
    
}

.just3{
    text-align: center;
    padding: 34px 360px;
    font-size: 24px;
    line-height: 34px;
}

.just2, .just3{
    max-width: 555px;
}

.button-start{
    text-align: center;
}

.button1{
    color: #FFFFFF;
    padding: 17px 28px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    background-color: #3040C4; 
    border: none;
}

.button2{
    border-radius: 2px;
    color: #000000;
    padding: 17px 28px;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    border: none;
}


.box{
    background: #ffffff;
    width: 262px;
    height:300px ;
    margin: 30px;
    display: inline-block;
}

.box:hover{
    background:#3141C5;
    transition: 200ms;
}

.boximg{
    padding: 22px 62px;
}

.boxtext{
    text-align: center;
    font-weight: bold;
}

.galery{
    display: flex;
    justify-content: center;
}

.galery-list{
    align-items: center;
}

.galery-li {
    display: inline-block;
    margin-left:60px;  
}

.covered-main{
    padding: 45px 0 90px;
}

.Covered{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .covered-text1{
        font-weight: bold;
        font-size: 56px;
        line-height: 66px;    
        margin-bottom: 26px;
    }
    
    .covered-text2{
        font-size: 24px;
        line-height: 34px;
        width: 554px;
        text-align: center;
        margin-bottom: 96px;
    }

    .wrapper{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five three"
        "four six seven";
        gap: 50px;
    }

    .wrapper >img{
        width: 100%;
        height: 100%;
    }

    .wrapper > img:nth-child(1){
        grid-area: one;
    }
    
    .wrapper > img:nth-child(2){
        grid-area: two;
    }

    .wrapper > img:nth-child(3){
        grid-area: three;
    }

    .wrapper > img:nth-child(4){
        grid-area: four;
    }

    .wrapper > img:nth-child(5){
        grid-area: five;
    }

    .wrapper > img:nth-child(6){
        grid-area: six;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
    }



@media (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .header{
        padding: 15px 0;
        display: none;
    }

    .busy{
        padding: 80px 0;
    }

    .info-p{
        max-width: 320px;
    }
    
    .galery-base{
        width: 900px;
        justify-content: space-evenly;
        text-align: center;
    }
}


@media (max-width: 1090px){
    .container{
        max-width: 750px;
    }

    .conteiner-itemt{
        flex-direction: column;
        align-items: center;
    }

    .conteiner-itemt >div:first-of-type{
        margin-bottom: 30px;
    }
    
    .item-text-1{
        width: 350px;
    }

    .item-text-2{
        width: 350px;
    }

    .galery-list{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 30px;
        text-align: center;
    }

    .busy-flex{
        flex-direction: column;
        text-align: center;
    }

    .busy-flex > div:first-of-type{
        margin-bottom: 30px;
    }

    .info-flex{
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-flex >  div:not(:first-of-type){
        margin-bottom: 30px;
    }
    .wrapper{
        display: grid;
        grid-template-areas: 
        "one  three"
        "two three"
        "four five "
        "four six ";
        column-gap: 45px;
        gap: 25px;
    }

    .wrapper > img:nth-child(1){
        grid-area: one;
    }
    
    .wrapper > img:nth-child(2){
        grid-area: two;
    }

    .wrapper > img:nth-child(3){
        grid-area: three;
    }

    .wrapper > img:nth-child(4){
        grid-area: four;
    }

    .wrapper > img:nth-child(5){
        grid-area: five;
    }

    .wrapper > img:nth-child(6){
        grid-area: six;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

    .galery-base{
        padding-left: 70px;
    }
}

@media (max-width: 800px){
    .conteiner{
        max-width: 500px;
    }

    .Covered{
        text-align: center;
    }

    .wrapper{
        gap: 30px;
    }

    img{
        max-width:100% ;
    }
}





@media (max-width: 550px){
    .container{
        max-width: 450px;
    }

   .galery-list{
        display: grid;
        grid-template-areas: 
        "one two three"
        "four five six";
        gap: 0px;
        text-align: center;
   }

   .galery-list >div img{
        width: 100%;
        height: 100%;
   }

    .busy{
        padding: 50px 0;
    }

    .title-inner{
        font-size: 48px;
        margin-bottom: 20px;
    }

    .busy img{
        width: 100%;
    }

    .info-p{
        max-width: 100%;
    }

    .galery-base{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Covered{
        text-align: center;
    }

    .covered-text1{
      text-align: center;
    }

    .covered-text2{
        max-width: 250px;
        text-align: center;
        
    }

    .wrapper{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
        column-gap: 35px;
        row-gap: 20px;
        text-align: center;
    }

    .wrapper >img{
        width: 100%;
        height: 100%;
    }

    .wrapper > img:nth-child(1){
        grid-area: one;
    }
    
    .wrapper > img:nth-child(2){
        grid-area: two;
    }

    .wrapper > img:nth-child(3){
        grid-area: three;
    }

    .wrapper > img:nth-child(4){
        grid-area: four;
    }

    .wrapper > img:nth-child(5){
        grid-area: five;
    }

    .wrapper > img:nth-child(6){
        grid-area: six;
    }

    .wrapper > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

}
